/dev-tools/                 export-ignore
/tests/                     export-ignore
/.*                         export-ignore
/check_trailing_spaces.sh   export-ignore
/phpmd.xml                  export-ignore
/phpunit.xml.dist           export-ignore
/run-tests.sh               export-ignore
